[run]
branch = True
omit = \
    */test_utils/*,
    */test/*,
    */tests/*,
    km_api/manage.py,
    km_api/km_api/wsgi.py,
    */migrations/*,
    */admin.py,
    km_api/functional_tests/*,
    km_api/km_api/*
source = km_api
