{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rokkitt:700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{subject}}</title>
    <!-- <style> -->
  </head>
  <body>
    <span class="preheader">{{description}}</span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            <container class="header">
              <row>
                <columns>
                  <image alt="Know Me Logo" height="64" src="https://s3.amazonaws.com/knowme-cdn/logo-rect-color.png" />
                </columns>
              </row>
            </container>

            {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened emails are created. --}}
            {{> body}}

            <spacer size="32"></spacer>

            <center>
              <container class="footer">
                <spacer size="16"></spacer>
                <row>
                  <columns small="12" large="4">
                    <p class="contact">
                      <a href="mailto:team@knowme.works">team@knowme.works</a>
                    </p>
                  </columns>
                  <columns small="12" large="4">
                    <address class="contact">
                      710 Market Street<br />
                      Suite 42<br />
                      Chapel Hill, NC 27516
                    </address>
                  </columns>
                  <columns small="12" large="4">
                    <p class="contact">
                      <a href="tel:9199601717">(919)&nbsp;960-1717</a>
                    </p>
                  </columns>
                </row>
              </container>
            </center>
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>

