Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["km-api-config"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  # Layer Dev Key
  /etc/km-api/certs/layer-dev.pem:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/km-api-config/layer-dev.pem

  # Layer Prod Key
  /etc/km-api/certs/layer-prod.pem:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/km-api-config/layer-prod.pem

  # Enable tracking of django logs for Elastic Beanstalk
  "/opt/elasticbeanstalk/tasks/taillogs.d/my-app-logs.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
          /var/log/km-api/*

  # Django Log Files
  /var/log/km-api/django-info.log:
    mode: "000666"
    owner: root
    group: root
    content: |
      # Django Log File
