container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && km_api/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && km_api/manage.py collectstatic --noinput"


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "km_api.production_settings"
    LAYER_RSA_KEY_FILE_PATH: "/etc/km-api/certs/layer-dev.pem"
    PYTHONPATH: "/opt/python/current/app/km_api:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: km_api/km_api/wsgi.py
    NumProcesses: 3
    NumThreads: 20
